#root {
  padding: 1rem;
}


.summary tr.selected {
  background-color: #4c4c4c;
}

.summary .remove {
  cursor: pointer;
}

table td{
  padding: 2px 6px
}

table tr:nth-child(odd) {
  background-color: #2b2b2b
}

.control{
  display: inline-block;
  padding: 4px;
}

.control label{
  margin-right: 5px
}

.control {
  margin-right:20px
}

#controls button {
  padding: 0.3em 0.5em;
}

.connect {
  margin-top: 17px;
  float: right;
}

button.action{
  background-color:#107b11;
  color:#FFF
}


button:hover {
  border-color: #60a362;
}

h1{
  margin:0 0 20px;
  font-size:2.75em
}

h1 .icon {
  font-size:130%
}

.measurement-detail {
  color:#777
}
