#root {
  padding: 2rem;
}


.summary tr.selected {
  background-color: #4c4c4c;
}

.summary .remove {
  cursor: pointer;
}

table td{
  padding: 2px 6px
}

table tr:nth-child(odd) {
  background-color: #2b2b2b
}

header .control{
  display: inline-block;
  border:1px solid #666;
  padding: 3px;
}
